<%= form_with(model: setting, local: true, url: setting_path) do |form| %>
  <% if setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
        <% setting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :program %>
    <%= form.select :program, 1..11, selected: setting.program || 1 %>
  </div>

  <div class="field">
    <%= form.label :brightness %>
    <%= form.select :brightness, 0..100, selected: setting.brightness || 10 %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.select :image, Setting::IMAGES, selected: setting.image || 'strawberry.ppm' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
