<%= form_with(model: setting, local: true, url: setting_path) do |form| %>
  <% if setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
        <% setting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :program %>
    <%= form.text_field :program %>
  </div>

  <div class="field">
    <%= form.label :args %>
    <%= form.text_field :args %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
