<p id="notice"><%= notice %></p>

<p>
  <strong>Program:</strong>
  <%= @setting.program %>
</p>

<p>
  <strong>Args:</strong>
  <%= @setting.args %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', setting_path %>
